#not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

#not-found h2 {
  margin: 0.5rem;
  position: relative;
  font-size: 6em;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below -42px linear-gradient(transparent, #0004);
}

#not-found h2 span {
  animation: animate 5s linear infinite;
}

#not-found h2 span:nth-child(even){
  animation-delay: 0.4s;
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
    0 0 400px #03bcf4;
  }
}
