#purchase-money-charge-button {
  padding: 0.5rem;
}

#coin-return-button {
  margin-bottom: 1rem;
}

.cashbox-remaining,
.purchase-available {
  border-radius: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  vertical-align: top;
  table-layout: fixed;
  border-style: hidden;
  box-shadow: 0 0 0 1px rgb(66, 66, 66);
}

.cashbox-remaining {
  width: 100%;
  max-width: 300px;
}

.purchase-available {
  width: 445px;
}
