.purchase-available,
.product-inventory,
.cashbox-change,
.cashbox-remaining {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  vertical-align: top;
  table-layout: fixed;
}

.cashbox-change,
.cashbox-remaining {
  width: 100%;
  max-width: 300px;
}

.product-inventory {
  width: 340px;
}

.purchase-available {
  width: 445px;
}

.cashbox-change col,
.cashbox-remaining col {
  width: 65px;
}

.purchase-available td,
.product-inventory td,
.cashbox-change td,
.cashbox-remaining td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.purchase-available th,
.product-inventory th,
.cashbox-change th,
.cashbox-remaining th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

body {
  text-align: center;
  margin: 0;
  padding: 2rem 1rem;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 1.0625rem;
  overflow-anchor: none;
  background-color: #f4f3f5;
}

label {
  visibility: hidden;
}

section {
  width: 28rem;
}

section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#router {
  display: flex;
  width: 13rem;
  justify-content: space-between;
  align-items: center;
}

input[type='number'],
input[type='text'] {
  all: unset;
  font-size: 0.825rem;
  padding: 0.5rem;
  background: white;
  text-align: left;
  border: 1px solid #afafaf;
  border-radius: 6px;
  width: calc(100% - 6.125rem);
}

#charge-button,
#product-add-button,
#vending-machine-charge-button {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

button {
  all: unset;
  font-size: 0.825rem;
  cursor: pointer;
  border: 1px solid #afafaf;
  border-radius: 6px;
  padding: 0.3rem 0.45rem;
}

section p {
  border: 1px dashed rgb(70, 70, 70);
  border-radius: 6px;
  padding: 8px 0;
  border-radius: 6px;
  width: 65%;
  font-size: 14px;
}

.purchase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-inventory {
  margin: 1rem 3rem;
}

.product-container input:not(:first-child) {
  margin-top: 0.5rem;
}

.vending-machine-wrapper {
  width: 65%;
}

#product-add-button {
  margin-left: 0;
  margin-top: 0.5rem;
  width: 78%;
}

#coin-return-button {
  margin-bottom: 1rem;
}

button:active {
  box-shadow: 1px 1px 2px 1px #d8d8d8 inset;
}

.cashbox-remaining,
.purchase-available,
.cashbox-change,
.product-inventory {
  border-radius: 10px;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px rgb(66, 66, 66);
}

.purchase-available td,
.product-inventory td,
.cashbox-change td,
.cashbox-remaining td,
.purchase-available th,
.product-inventory th,
.cashbox-change th,
.cashbox-remaining th {
  border: 1px solid rgb(66, 66, 66);
}

vending-machine-router {
  margin: 10px 0;
}
