@import url('./modules/product.css');
@import url('./modules/charge.css');
@import url('./modules/purchase.css');
@import url('./modules/notFound.css');

* {
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0;
	padding: 2rem 1rem;
	word-break: keep-all;
	overflow-wrap: break-word;
	font-size: 1.0625rem;
	overflow-anchor: none;
	background-color: #f4f3f5;
}

a {
	text-decoration: none;
	color: #000000;
}

header, main {
	margin: 1em 0;
}

h3 {
	margin-top: 0;
}

section {
	width: 28rem;
}

section:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

input[type='number'],
input[type='text'] {
	all: unset;
	font-size: 0.825rem;
	padding: 0.5rem;
	background: white;
	text-align: left;
	border: 1px solid #afafaf;
	border-radius: 6px;
	width: calc(100% - 6.125rem);
}

section p {
	border: 1px dashed rgb(70, 70, 70);
	padding: 8px 0;
	border-radius: 6px;
	width: 65%;
	font-size: 14px;
	margin: 0;
}

button {
	all: unset;
	font-size: 0.825rem;
	cursor: pointer;
	border: 1px solid #afafaf;
	border-radius: 6px;
	padding: 0.3rem 0.45rem;
	transition: 0.2s ease-in-out;
}

button:hover {
	background-color: #d6d6d6;
}

button.active {
	background-color: #484848;
	color: #ffffff !important;
}

a:focus, section button:focus{
	outline: thick double #32a1ce;
	border-radius: 3px;
	transition: none;
}

nav {
	display: flex;
	gap: 1em;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:is(table) th, td {
	width: 65px;
	border: 1px solid rgb(66, 66, 66);
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

table {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #d6d6d6;
}

thead {
	border-bottom: 4px double black;
}

tbody {
	background-color: #f4f3f5;
}

tbody tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}
