.error-page-section {
  position: absolute;
  top:0;
  background-color: rgba(0, 0, 0, 0.90);
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
}

.error-page-section a{
  color: #fff;
  padding: 1rem 1.2rem;
}

.error-page-section h2 {
  font-size: 3rem;
  color: #0e3742;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below -42px linear-gradient(transparent, #0004);
}

.error-page-section h2 span {
  animation: animate 5s linear infinite;
}

.error-page-section h2 span:nth-child(even){
  animation-delay: 0.4s;
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px var(--danger-color),
    0 0 20px var(--danger-color),
    0 0 40px var(--danger-color),
    0 0 80px var(--danger-color),
    0 0 160px var(--danger-color),
    0 0 400px var(--danger-color);
  }
}
