body {
  text-align: center;
  margin: 0;
  padding: 2rem 1rem;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 1.0625rem;
  overflow-anchor: none;
  background-color: #f4f3f5;
}

section {
  width: 35rem;
}

section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
