@import './notFound.css';

:root {
  --primary-color: #00bcd4;
  --secondary-color: #d1f2f6;
  --danger-color: #dc3545;
}

a {
  all: unset;
  font-size: 0.825rem;
  cursor: pointer;
  border: 1px solid #afafaf;
  border-radius: 6px;
  padding: 0.3rem 0.45rem;
}

a.active {
  box-shadow: 0 0 0 0.15rem rgb(179, 237, 245);
}

a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

caption {
  font-size: 0.8rem;
  text-align: right;
}

table {
  border: 10px dotted #555;
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  background-color: var(--primary-color);
  overflow: hidden;
  color: #fff;
}

.purchase-available,
.product-inventory,
.cashbox-change,
.cashbox-remaining {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  vertical-align: top;
  table-layout: fixed;
}

.cashbox-change,
.cashbox-remaining {
  width: 100%;
  max-width: 300px;
}

.product-inventory {
  width: 340px;
}

.purchase-available {
  width: 445px;
}

.cashbox-change col,
.cashbox-remaining col {
  width: 65px;
}

.purchase-available td,
.product-inventory td,
.cashbox-change td,
.cashbox-remaining td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.purchase-available th,
.product-inventory th,
.cashbox-change th,
.cashbox-remaining th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

body {
  text-align: center;
  margin: 0;
  padding: 2rem 1rem;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 1.0625rem;
  overflow-anchor: none;
  background-color: #f4f3f5;
}

section {
  width: 28rem;
}

section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

input[type='number'],
input[type='text'] {
  all: unset;
  font-size: 0.825rem;
  padding: 0.5rem;
  margin: 0.4rem;
  background: white;
  text-align: left;
  border: 1px solid #afafaf;
  border-radius: 6px;
  width: calc(100% - 6.125rem);
}

input:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}

#charge-button,
#product-add-button,
#vending-machine-charge-button {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

button {
  all: unset;
  font-size: 0.825rem;
  cursor: pointer;
  border: 1px solid #afafaf;
  border-radius: 6px;
  padding: 0.3rem 0.45rem;
}

button.active {
  box-shadow: 0 0 0 0.15rem rgb(179, 237, 245);
}

button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

section p {
  border: 1px dashed rgb(70, 70, 70);
  border-radius: 6px;
  padding: 8px 0;
  border-radius: 6px;
  width: 65%;
  font-size: 14px;
}

.purchase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-inventory {
  margin-top: 1rem;
}

.product-container input:not(:first-child) {
  margin-top: 0.5rem;
}

.vending-machine-wrapper {
  width: 65%;
}

#product-add-button {
  margin-left: 0;
  margin-top: 0.5rem;
  width: 78%;
}

#coin-return-button {
  margin-bottom: 1rem;
}

button:active {
  box-shadow: 1px 1px 2px 1px #d8d8d8 inset;
}

.cashbox-remaining,
.purchase-available,
.cashbox-change,
.product-inventory {
  border-collapse: collapse;
  border-style: hidden;
  background-color: #d1f2f6;
}

.purchase-available td,
.product-inventory td,
.cashbox-change td,
.cashbox-remaining td,
.purchase-available th,
.product-inventory th,
.cashbox-change th,
.cashbox-remaining th {
  border: 1px solid #fff;
}

.grid {
  display: grid;
  row-gap: 1rem;
  justify-content: center;
  grid-template-columns: 500px;
}

.grid--2-row {
  grid-template-rows: repeat(2, 1fr);
}

.fixed_header {
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid #fff;
}

.fixed_header thead {
  background-color: var(--primary-color);
}

.fixed_header th,
.fixed_header td {
  width: 12rem;
  word-break: break-all;
}

.fixed_header th {
  padding: 10px 5px;
  border: 1px solid #fff;
}

.fixed_header td {
  height: 2rem;
  border: 1px solid #fff;
  background-color: var(--secondary-color);
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 10rem;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header .height-l {
  height: 15rem;
}
